

.signup__form{
    width: 30vw;
    height: 80vh;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: relative;
    border:2px solid red;
    border-radius: 10px;
    background-color: red;
}
.signup__form h1{
    padding-left: 5vw;
    color: white;
    letter-spacing: 4px;
    font-size: 2em;
    border-left: 10px solid white;
   
}
.signup__display{
    padding:0 5vw;
    display: flex;
    margin-top: 2vh;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    position: relative; 
}
.signup__display input{
    width: 20vw;
    height: 6vh;
    color: white;
    border: transparent;
    background-color: transparent;
    border-bottom: 2px solid lightgray;
    font-size: 1.5em;
    z-index: 1;
    outline: none;
}
.signup__display span{
    position: absolute;
    left: 5vw;
    top: 1vh;
    font-size: 1.5em;
    color: white;

}

/* .signup__display input:focus{

    border-bottom: 2px solid white;
    outline: none;
    z-index: 1;
} */

.signup__display input:focus + span , .signup__display input:not(:placeholder-shown)+span{
    font-size: 1.3em;
    top: -3.5vh;
    color: white;
    transition: 0.5s;
}


.signup__display button{
    height: 8vh;
    width: 15vw;
    margin: auto;
    font-size: 1.5em;
    color:red;
    padding: 5px 0;
    background-color: white;
    border:2px solid white;
    border-radius: 30px;
}
.loginPage{
   
    color: white;
    font-size: 30px;
    position: absolute;
    right: 40px;
    top: 30px;
    text-align: center; 
    border-radius: 50%;
    
}

@media only screen and (max-width : 540px) and (min-width : 280px){
    .signup__form{
        width: 70vw;
        height: 75vh;
    }
    .signup__form h1{
        padding-left: 8vw;
    }
    .signup__display{
        margin-top: 20px;
        padding: 0 8vw;
    }
    .signup__display span{
        left: 8vw;
    }
    .signup__display button{
        height: 10vh;
        width: 50vw;
    }
    .loginPage{
       right: 20px;
    }
    .signup__display input{
        width: 50vw;
    }
}

@media only screen and (max-width : 1100px) and (min-width : 540px){
    .signup__form{
        width: 70vw;
        height: 60vh;
    }
    .signup__form h1{
        padding-left: 8vw;
    }
    .signup__display{
        margin-top: 20px;
        padding: 0 8vw;
        height: 20vh;
    }
    .signup__display span{
        left: 8vw;
    }
    .signup__display button{
        height: 10vh;
        width: 50vw;
    }
    .loginPage{
        right: 20px;
    }
    .signup__display input{
        width: 50vw;
    }
}

