@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
.App {
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

